<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>About Us</span></h5>
        <p>Since April 2021 we've been reverse engineering the DGT Centaur Board to make it do more. We're still at it, discovering it's secrets and implementing new features. We understand the board better than anyone, probably even DGT themselves! :)</p>
        <p>To find out how to make your DGT Centuar chess board do more, or to help with the project, check out the <a href='https://github.com/EdNekebno/DGTCentaurMods'>github repository</a> or join the <a href='https://discord.gg/zqgUGK2x49'>Discord server https://discord.gg/zqgUGK2x49</a></p>
    </div>
</div>
